:root {
    --FONTE-GAME: 'Luckiest Guy', cursive;
    --COLOR-FONT-GAME: white;
}

body, div, button, h1, p,i{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    text-align: center;
}

.sound_controls{
  position: absolute;
  right: 15px;
  top:15px;
  font-size: 2rem;
  cursor: pointer;
  color:#9d4edd;
  transition: all ease .3s;
}
.sound_controls:hover{
  transform: scale(1.3);
  transition: all ease .3s;
}

.titulo {
    font-family: var(--FONTE-GAME);
    font-weight: 100;
    margin-top: 80px;
    color: var(--COLOR-FONT-GAME);
    font-size: 2.5rem;

}

body {
    background: linear-gradient(to right,steelblue,darkblue);
    position: relative;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    position: relative;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.start_tower:last-child {
    display: none;
}

.container__tower {
    border: 8px outset;
    border-color: white;
    width: 90%;
    height: 120px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.discs {
    font-size: 0;
    border-radius: 5px;
}

.efeito {
    cursor: pointer;
    width: 50px;
    margin-bottom: 5px;
    transition: all .5s ease;
}

.button-play {
    background: #7b2cbf;
    border-radius: 3em;
    border: 0;
    border: 3px solid #9d4edd;
    cursor: pointer;
    font-family: var(--FONTE-GAME);
    font-weight: 300;
    color: white;
    outline: none;
    padding: 1.25em 2em;
    position: relative;
    text-transform: uppercase;
    transform-style: preserve-3d;
    transition: all 150ms cubic-bezier(.175, .885, .32, 1.275);
    margin: 30px auto;
    display: block;
}

.button-play::before {
    background: #3c096c;
    border-radius: inherit;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate3d(0, .75em, -1em);
    transition: all 150ms cubic-bezier(.175, .885, .32, 1.275);
    width: 100%;
}

.button-play:hover {
    transform: translate(0, .25em);
}

.button-play:hover::before {
    box-shadow: 0 0 0 2px #9d4edd, 0 .45em 0 0 rgba(23 44 191 /80%);
    transform: translate3d(0, .5em, -1em);
}

.button-play:active {
    background: #7b2cbf;
    transform: translate(0, .75em);
    src: url(sounds-effects/button-click.wav) ;

}

.button-play:active::before {
    box-shadow: 0 0 0 3px #9d4edd, 0 0 #7b2edd;
    transform: translate3d(0, 0, -1em);
}

.button-play a {
    color: #fff;
    padding: 10px;
}

.hidden {
    display: none;
}

.winner_msg {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
}

.spanWinner {
    font-family: var(--FONTE-GAME);
    color: var(--COLOR-FONT-GAME);
    font-size: 2rem;
    text-shadow: rgba(255, 255, 255, 0.541) 2px 2px 50px;
    text-align: center;
}

#menuOptions {
    text-align: center;
    font-family: var(--FONTE-GAME);
}

.button_back{
    cursor: pointer;
    font-size: 2rem;
    color: #3c096c;

}

.button_back:hover{
    color: #fff;
}
.back{
    position: absolute;
    bottom: 10px;
    left: Calc(5%);
}
.menu__radios{
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__radios:before{
  content: "";
  clear: both;
}
.menu p{
  margin-top: 20px;
  position: relative;
  color: var(--COLOR-FONT-GAME);
}
.radio{
  color: darkblue;
  box-sizing: border-box;
  float: left;
  height: 50px;
  position: relative;
  width: 50px;
  border-radius: 100%;

}
.radio + .radio {
  margin-left: 25px;
}
.radio label {
  background: #fff no-repeat center center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  border-radius: 100%;

}

.radio label input[type=radio] {
  all: unset;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.radio label input[type=radio]:checked {
  background-color: #3c096c;
  border-radius: 100%;
 
}
.radio label input[type=radio]:checked + span{
  color: #ffffff;
  z-index: 1;
}
#movesCount {
    text-align: center;
    margin-top: 20px;
    font-family: var(--FONTE-GAME);
    color: var(--COLOR-FONT-GAME);
}
@media only screen and (min-width: 800px) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 50%;
        margin: 0 auto;
    }
    .titulo{
      font-size: 3rem;
    }

    .container__tower {
        height: 220px;

    }
    .back{
        margin-top: 20px;
        position: relative;
        display: flex;
        justify-content: center;
        left: 0;
        
    }
    .spanWinner {
      font-size: 2.5rem;
  }
  .sound_controls{
    right: 40px;
    top:50px;
  }

}

/* ANIMATIONS */

.float_effect {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    animation-name: hvr-bob-float, hvr-bob;
    animation-duration: .3s, 1.5s;
    animation-delay: 0s, .3s;
    animation-timing-function: ease-out, ease-in-out;
    animation-iteration-count: 1, infinite;
    animation-fill-mode: forwards;
    animation-direction: normal, alternate;
  }

  .bounceInDown_effect {
    animation: bounceInDown 2.200s linear 0s 1 normal both;
    transform-origin: 50% 50%; }
/* KEYFRAMES */
@keyframes alertPulse {
    0% {background-color: #9A2727; opacity: 1;}
    50% {opacity: red; opacity: 0.75; }
    100% {opacity: #9A2727; opacity: 1;}
}

@keyframes hvr-bob {
    0% {
        transform: translateY(-8px);
    }
    50% {
        transform: translateY(-4px);
    }
    100% {
        transform: translateY(-8px);
    }
}
 
@keyframes hvr-bob-float {
    100% {
        transform: translateY(-8px);
    }
}

@keyframes bounceInDown {
    0% {
      transform: translateY(-500px);
      opacity: 0.000; }
    2% {
      transform: translateY(-433.098px);
      opacity: 0.147; }
    4% {
      transform: translateY(-267.7px);
      opacity: 0.293; }
    6% {
      transform: translateY(0px);
      opacity: 0.440; }
    8% {
      transform: translateY(-100.666px);
      opacity: 0.587; }
    10% {
      transform: translateY(-129.751px);
      opacity: 0.733; }
    12% {
      transform: translateY(-106.898px);
      opacity: 0.880; }
    14% {
      transform: translateY(-59.373px);
      opacity: 1.000; }
    16% {
      transform: translateY(0px); }
    18% {
      transform: translateY(-25.258px); }
    20% {
      transform: translateY(-32.495px); }
    22% {
      transform: translateY(-27.002px); }
    24% {
      transform: translateY(-8.091px); }
    26% {
      transform: translateY(0px); }
    28% {
      transform: translateY(-6.352px); }
    30% {
      transform: translateY(-8.229px); }
    32% {
      transform: translateY(-6.762px); }
    34% {
      transform: translateY(-1.991px); }
    36% {
      transform: translateY(-0.635px); }
    38% {
      transform: translateY(-1.6px); }
    40% {
      transform: translateY(-2.073px); }
    42% {
      transform: translateY(-1.697px); }
    44% {
      transform: translateY(-0.491px); }
    46% {
      transform: translateY(-0.156px); }
    50% {
      transform: translateY(-0.519px); }
    54% {
      transform: translateY(-0.127px); }
    100% {
      transform: translateY(0px);
      opacity: 1.000; } }
  

/* REFERENCIAS */

/* https://reinokawaii.blogspot.com/2018/04/levitar-ou-flutuar-com-css-efeito-hover.html */